<div class="b-superior">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 id="ps">Processo Seletivo</h1>
      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 id="textos">Hoje, {{data | date: 'dd'}} de {{data | date: 'MMMM'}} de {{data | date: 'yyyy'}}</h3>
      </div>
    </div>
  </div>
</div>
<p class="row">
  <div class="col-md-4"></div>
  <form id="caixas" class="container col-md-4">
    <div class="form-group text-left">
      <label id="login" for="exampleInputEmail1">Login</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entre com a Senha">
    </div>
    <div class="row">
      <div class="col-md-6">
        <a id="registrar" href="">Registrar-se</a>
      </div>
      <div class="form-group text-right col-md-6">
        <button id="entrar" type="submit" class="btn">ENTRAR</button>
      </div>
    </div>
  </form>
  <div class="col-md-4"></div>
</p>