<!DOCTYPE html>
<html ng-app="cada">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Processo Seletivo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/templates/main/index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../clientadmin.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cairo|Coustard|Shadows+Into+Light" rel="stylesheet">
</head>
<body ng-controller="mainController">
<script src="../controllers/mainControllerAdmin.js"></script>
<div class="b-superior">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 id="ps">Processo Seletivo</h1>
            </div>
            <div class="col-md-6 text-right">
                <a ng-controller="mainController">
                    <button id="sair" type="submit" class="btn" ng-click="sair()">Sair</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 id="textos">Hoje, {{dia}} de {{mes}} de {{ano}}</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p id="adm-nome">Administrador do Sistema</p>
            </div>
        </div>
    </div>
</div>
</br>
<div class="container">
    <div class="row">
        <div class="col-md-9" id="vaga-titulo">
            {{title}}
        </div>
        <div class="col-md-3">
            <a id="voltar" class="btn" href="http://localhost:8000/admin">Voltar</a>
        </div>
    </div>
    <hr id="linha">
    <div class="container">

        <form name="addVagaForm" ng-submit="addVaga()" ng-init="loadVaga()">

            <input type="text" class="form-control" ng-model="vaga.nome" placeholder="Nome da Vaga"
                   ng-required="true" ng-readonly="isEdit">
            </br>
            <input type="text" class="form-control" ng-model="vaga.salario" placeholder="Salário" ng-required="true">
            </br>
            <input type="text" class="form-control" ng-model="vaga.quantVagasMax" placeholder="Quantidade de Vagas"
                   ng-required="true">
            </br>
            <input type="text" class="form-control" ng-model="vaga.diasTrab" placeholder="Dias de Trabalho"
                   ng-required="true">
            </br>
            <input type="text" class="form-control" ng-model="vaga.hrTrab" placeholder="Horas de Trabalho"
                   ng-required="true">
            </br>
            <input type="text" class="form-control" ng-model="vaga.local" placeholder="Empresa" ng-required="true">
            </br>
            <input type="text" class="form-control" ng-model="vaga.end" placeholder="Endereço" ng-required="true">
            </br>
            <input type="text" class="form-control" ng-model="vaga.conheExtra" placeholder="Conhecimento Extra">
            </br>
            <input type="text" class="form-control" ng-model="vaga.datInsc" placeholder="Data Final da Inscrição"
                   ng-required="true">
            </br>
            </br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-right">
                    <button type="submit" id="entrar" class="btn" ng-disabled="addVagaForm.$invalid">
                        {{buttonTxt}}</button>
                </div>
            </div>
            </br>
            </br>
        </form>

    </div>
</div>
</body>
</html>