<div class="b-superior">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 id="ps">Processo Seletivo</h1>
      </div>
      <div class="col-md-6 text-right">
        <a href="http://localhost:8000/#!/"><button id="sair" type="submit" class="btn">Sair</button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 id="textos">Hoje, {{data | date: 'dd'}} de {{data | date: 'MMMM'}} de {{data | date: 'yyyy'}}</h3>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p id="adm-nome">Administrador do Sistema</p>
      </div>
    </div>
  </div>
</div>
</br>
<div class="container">
  <div ng-init="getVagas()" class="row">
    <div class="col-md-9" id="vaga-titulo">
      Vagas cadastradas no sistema
    </div>
    <div class="col-md-3">
      <a id="voltar" class="btn" href="#!/admin">Voltar</a>
    </div>
  </div>
  <hr id="linha">
  <div class="container" ng-repeat="vaga in vagas">
    <div class="row">
      <div class="col-md-4">
        <a href="#!/admin/visualizar-vagas/detalhes/{{vaga._id}}" class="btn" id="vaga-nome">{{vaga.nome}}</a>
      </div>
      <div class="col-md-4 text-right">
        <a href="#!/admin/visualizar-vagas/detalhes/{{vaga._id}}" class="btn" id="vaga-info"><img id="imge2" src="https://icon-icons.com/icons2/109/PNG/32/general_get_info_18446.png"/>Mais informações</a>
      </div>
    </div>
    <table class="table table-striped" id="borda">
      <tr id="tabela2">
        <td id="tag">Salário:</td>
        <td>{{vaga.salario}}</td>
      </tr>
      <tr id="tabela">
        <td id="tag">Local:</td>
        <td>{{vaga.local}}</td>
      </tr>
      <tr id="tabela2">
        <td id="tag">Endereço:</td>
        <td>{{vaga.end}}</td>
      </tr>
    </table>
  </div>
</div>
</div>