<!DOCTYPE html>
<html ng-app="visu">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Processo Seletivo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/templates/main/index.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../clientadmin.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cairo|Coustard|Shadows+Into+Light" rel="stylesheet">
</head>
<body ng-controller="mainController">
<script src="../controllers/mainControllerAdmin.js"></script>
<div class="b-superior">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 id="ps">Processo Seletivo</h1>
      </div>
      <div class="col-md-6 text-right" ng-controller="mainController">
        <a ng-controller="mainController"><button  id="sair" type="submit" class="btn" ng-click="sair()">Sair</button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 id="textos">Hoje, {{dia}} de {{mes}} de {{ano}}</h3>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p id="adm-nome">Administrador do Sistema</p>
      </div>
    </div>
  </div>
</div>
</br>
<div class="container">
  <div ng-init="getVagas()" class="row">
    <div class="col-md-9" id="vaga-titulo">
      Vagas cadastradas no sistema
    </div>
    <div class="col-md-3">
      <a id="voltar" class="btn" href="http://localhost:8000/admin">Voltar</a>
    </div>
  </div>
  <hr id="linha">
  <div class="container" ng-repeat="vaga in vagas">
    <div class="row">
      <div class="col-md-4">
        <a href="#!/admin/visualizar-vagas/detalhes/{{vaga._id}}" class="btn" id="vaga-nome">{{vaga.nome}}</a>
      </div>
      <div class="col-md-4 text-right">
        <a href="#!/admin/visualizar-vagas/detalhes/{{vaga._id}}" class="btn" id="vaga-info"><img id="imge2" src="https://icon-icons.com/icons2/109/PNG/32/general_get_info_18446.png"/>Mais informações</a>
      </div>
    </div>
    <table class="table table-striped" id="borda">
      <tr id="tabela2">
        <td id="tag">Salário:</td>
        <td>{{vaga.salario}}</td>
      </tr>
      <tr id="tabela">
        <td id="tag">Local:</td>
        <td>{{vaga.local}}</td>
      </tr>
      <tr id="tabela2">
        <td id="tag">Endereço:</td>
        <td>{{vaga.end}}</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
